{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/glossary.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">
    <title>Глоссарий</title>
    <style>
        body {
            background-image: url("{{ MEDIA_URL }}images/HtCrWcxpywI.jpg");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div id="text-container" class="modal">
        <div id="modalContent" class="modal-content">
            <span class="close">×</span>
            <div id="text">
                <p id="p-modal"></p>
            </div>
            <div id="font-controls">
                <button class="no-hover-effect" id="increase-font">Увеличить текст</button>
                <button class="no-hover-effect" id="decrease-font">Уменьшить текст</button>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="back-button" id="А">А</button>
        <button class="back-button" id="Д">Д</button>
        <button class="back-button" id="Ф">Ф</button>
        <button class="back-button" id="И">И</button>
        <button class="back-button" id="К">К</button>
        <button class="back-button" id="О">О</button>
        <button class="back-button" id="П">П</button>
        <button class="back-button" id="Р">Р</button>
        <button class="back-button" id="С">С</button>
        <button class="back-button" id="Т">Т</button>
        <button class="back-button" id="Э">Э</button>
        <button class="back-button" id="Я">Я</button>
    </div>
    <div class="container-images" style="display: none;">
        <div class="engine-container"></div>
        <div class="back">
          <button onclick="location.reload();" id = "back-button">Назад</button>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static "js/glossary.js" %}"></script>

</html>