{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/medialibrary.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <title>Медиатека</title>
</head>

<style>
    body {
        background-image: url("{{ MEDIA_URL }}images/HtCrWcxpywI.jpg");
        background-size: cover;
        background-position: center;
    }
</style>

<body>
    <div id="video-container" class="modal">
        <div class="modal-content">
            <span class="close">×</span>
            <div id="video-player">
                <video controls id="player"></video>
            </div>
        </div>
    </div>
    <ul id="video-list">
        <!-- Сюда будут добавлены ссылки на видео -->
    </ul>
</body>

<script src="{% static 'js/medialibrary.js' %}"></script>

</html>