{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ротор и статор турбогенератора - интерактивный плакат</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/rotor_and_stator_of_turbogenerator_interactive.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
</head>

<body>
    <div id="modalWindow" class="modal">
        <div id="modalContent" class="modal-content">
            <span id="close-button" class="close">x</span>
        </div>
    </div>
</body>

<script type="module" src="{% static "js/interactiveInteraction.js" %}"></script>

</html>