{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

  <script>
    const GeneralPrincipalsData = {{ GeneralPrincipalsImagesData|safe }};
    const DCmachinesData = {{ DCmachinesImagesData|safe }};
    const ACmachinesData_Async = {{ ACmachinesImagesDataAsync|safe }};
    const ACmachinesData_Sync = {{ ACmachinesImagesDataSync|safe }};
  </script>

  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="container-first">
      <div class="text">ИНТЕРАКТИВНЫЕ ПЛАКАТЫ "ВСЁ ОБ ЭЛЕКТРИЧЕСКИХ МАШИНАХ"</div>
      <button class="button1" id="1">Электрические машины</button>
      <div class="buttons" style="display: none;">
        <button id="2">Машины переменного тока</button>
        <button id="3">Машины постоянного тока</button>
        <button id="4">Общие принципы</button>
      </div>
      <div class="AsyncAndSync">
        <div class="buttons" style="display: none;">
          <button id="5">Асинхронные</button>
          <button id="6">Синхронные</button>
        </div>
      </div>
    </div>
    <div class="container-images" style="display: none;">
      <div class="engine-container"></div>
      <div class="back">
        <button id = "back-button">Назад</button>
      </div>
    </div>
  </div>

  <script src="{% static "js/main.js" %}"></script>
</body>

</html>