.button-container {
    display: flex;
    width: 900px;
    gap: 10px;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

p {
    color: white;
    text-shadow:
        -0.6px -0.6px 0 red,
        0.6px -0.6px 0 red,
        -0.6px 0.6px 0 red,
        0.6px 0.6px 0 red;
    font-size: 18pt;
}

.back-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 300px;
    background-color: red;
    color: white;
    border: 0;
    left: 50%;
    font-size: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    margin-top: 20px;
}

.engine-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Выравниваем по центру по вертикали */
    align-items: center;
    /* Выравниваем по центру по горизонтали */
    width: 100%;
    height: 100vh;
    /* Высота контейнера равна высоте окна браузера */
}

.this .main_image {
    /* display: block; */
    width: 400px;
    height: 300px;
}

.this .text_image {
    margin-top: 250px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.this .text_image:hover {
    transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    transform: translate(-5px, -5px);
    cursor: pointer;
    -webkit-transform: translate(-5px, -5px);
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
}

.back {
    text-align: center;
}

.back button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 300px;
    background-color: red;
    color: white;
    border: 0;
    left: 50%;
    font-size: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    margin-top: 20px;
}

.this {
    display: flex;
    width: 500px;
    height: 300px;
    /* position: relative; */
    text-align: center;
    margin: 0 auto;
}

#p-modal {
    all: unset;
    font-family: 'Montserrat', sans-serif;;
}

#modalContent {
    all: unset;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 5px 20px 20px 20px;
    max-width: 800px;
    border: 1px solid #888;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: auto;
    overflow-y: auto;
    text-align: justify;
    /* Выравнивание текста по ширине */
}

#font-controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#font-controls button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}