div{
    background-color: rgb(87, 87, 87, 0.6);
    width: 1600px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 32pt;
    text-align: justify;
    padding: 0px 8px 0px 8px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

p{
    color: white;
    text-shadow:
        -0.5px -0.5px 0 red,
        0.5px -0.5px 0 red,
        -0.5px 0.5px 0 red,
        0.5px 0.5px 0 red;
}

#back-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 300px;
    background-color: red;
    color: white;
    border: 0;
    left: 50%;
    font-size: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    margin-top: 20px;
}