.this {
    width: 400px;
    height: 300px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color: #333;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}

p{
    color: white;
    text-shadow:
        -0.3px -0.3px 0 black,
        0.3px -0.3px 0 black,
        -0.3px 0.3px 0 black,
        0.3px 0.3px 0 black;
    font-size: 21pt;
}

.this:hover img{
    opacity: 0.7;
}

.this img {
    display: block;
    width: 400px;
    height: 300px;
}

.button-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 2001;
    opacity: 0;
}

.exam-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 2001;
}

.this:hover .button-container{
    opacity: 1;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 215px;
}

.this button{
    background-color: #4CAF50;
    color: white;
    border: 0;
    left: 50%;
    font-size: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.this button:hover {
    transform: scale(1.1);
    background-color: #45a049;
}

.container-images{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.engine-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.engine-item{
    width: 470px;
}

::-webkit-scrollbar {
    width: .65em;
}

::-webkit-scrollbar-track {
    background-color: rgba(217, 217, 217, 0.75);
}

::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, 0.6);
    border-radius: 5px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

.container-first button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 500px;
    background-color: #4CAF50;
    color: white;
    border: 0;
    left: 50%;
    font-size: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.back{
    text-align: center;
}

.back button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 300px;
    background-color: #4CAF50;
    color: white;
    border: 0;
    left: 50%;
    font-size: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    margin-top: 20px;
}

button:hover {
    transform: scale(0.9);
    background-color: #45a049;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-shadow:
        -0.3px -0.3px 0 black,
        0.3px -0.3px 0 black,
        -0.3px 0.3px 0 black,
        0.3px 0.3px 0 black;
    /* Отрицательные и положительные значения создают обводку */
    min-width: 1800px;
}

.container-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 1400px;
    margin: 0 auto;
}

.buttons{
    display: flex;
    gap: 5px;
}

.buttons button{
    font-size: 32px;
    width: 350px;
}

.buttons .back button{
    margin-top: 5px;
    
}

.AsyncAndSync{
    width: 100%;
    float: left;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    z-index: 2001;
}

.navbar button{
    font-size: 24px;
    width: 150px;
    background-color: #4CAF50;
    color: white;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar button:hover{
    transform: scale(0.9);
    background-color: #45a049;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

body {
    overflow: hidden;
}